node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
yarn-error.log
.DS_Store
*/.DS_Store

soleinsider.keystore
soleinsiderfree.keystore
pepk.jar
SoleInsiderNative_sign.jks.bak
encrypted_private_key_path
keystore.txt
upload_cert.der
deployment_cert.der
upload_certificate.pem
keys/
new_keys/
.env